@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

*:not([class^="fa"]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    background: linear-gradient(45deg, #fe4e18, #0e47e6, #473f7e, #df4318);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite; /* Adjusted animation duration */
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}



.footer {
    text-align: center;
    padding: 3px;
    color: white;
    position: absolute;
    bottom: 40px;
}
a {
    color: inherit;
}
